.goodbye_wrapper>h2{
    text-align: center;
}

.goodbye_video{
    max-width: 800px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.goodbye_video > video{
    border-radius: 15px;
}