
.todoadddiv {
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#todoaddinput{
    background-color: silver;
    margin-right: 2px;
}

#todoaddbutton{

}