
#r1_tpdiv{
    border: 1px solid silver;
    min-width: 95%;
    justify-self: center;
    border-radius: 25px;
    margin-top: 30px;
}

#r1c1_tp{
    display: flex;
    flex-direction: column;
    color: silver;
    margin-left: 15px;
    width: 30%;
}

.r1labels_tp{
    font-size: small;
}