{
    email wade.mark.a@gmail.com
}

# 1. Main Website
wade-usa.com {
    reverse_proxy main_wade_usa:80
}

# 2. Directus API & Admin
api.wade-usa.com {
    reverse_proxy directus:8055
}

# 3. Buget Domain
budget.wade-usa.com {
    reverse_proxy budget_wade_usa:80
}

