
#row99_div{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: fit-content;
    margin-top: 20px;
    border: 1px solid silver;
    border-radius: 25px;
    padding: 10px;
}

.chbx_1{
    color: silver;
    margin-left: 5px
    
}

#r99_top{
    color: silver;
    text-align: center;
    text-decoration: underline;
}

.note_text{
    color: silver;
}

#note_div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.hotels{
    margin-left: 10px;
}
.rc{
    margin-left: 10px;
}
.act{
    margin-left: 10px;
}

.dep_flight, .arr_flight{
    margin-left: 5px;
}