<!DOCTYPE html>

<html>
  <head>
    <title>Amazing Mr. Wade</title>

    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.css"> <!--Boostrap Styling-->
    <!--This is Code for Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap" rel="stylesheet">
    <!--_______________________-->
    <link rel="stylesheet" href="/styles/alt.css"> <!--Modification to Styling-->
  </head>
  <body>
    <header>
        <%- include("header/header.ejs") %>
    </header>

    <h1>Fa &emsp;& &emsp;Mark</h1>
    <h2>2|16|2025</h2>
    <h2>Surin, Thailand</h2>
    <h2>HOLD FOR COUNTDOWN TIMER</h2>
    <h2><br>____________________</h2>
    <h2 class="specialH2"><br>Welcome!</h2>
    <h2>Fa and Mark will be getting married. We understan not all family and freinds can make it as it is being held far away. Please wish us luck and when we return to the USA we will be holding a small welcomeing party for Fa. </h2>

    <footer>
    <img src="/images/Sukanya.jpg" alt="Error" class="logo" height="200" width="200">
    </footer>
  </body>
</html>