<!DOCTYPE html>

<html>
  <head>
    <title>Amazing Mr. Wade</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.css"> <!--Boostrap Styling-->
    <link rel="stylesheet" href="/styles/alt.css"> <!--Modification to Styling-->
  </head>
  <body>
    <header>
        <%- include("header/header.ejs") %>
    </header>
    <img src="/images/Sukanya.jpg" alt="Error" class="logo">
  </body>
</html>