<!DOCTYPE html>

<html>
  <head>
    <title>Amazing Mr. Wade</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.css"> <!--Boostrap Styling-->
  </head>
  <body>
    <header>
        <%- include("header/header.ejs") %>
    </header>
    <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
  </body>
</html>