.docker_Wrapper{
    margin-top: 100px;
    margin-left: 20px;
    text-align: center;
}



.goodbye_video{
    width: 98%;
    min-width: 400px;
    max-width: 800px;
    margin: 30px auto auto auto;
}

.goodbye_video > video{
    border-radius: 15px;
}