#footerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content; /* Set a height for the footer to ensure it fills the viewport */
}
  
#footersheild {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
  
#footerImage {
    max-width: 138%;
    max-height: 138%;
    object-fit: contain; /* Try 'contain' first, then adjust if needed */
    object-position: center center; /* Ensure center alignment */
    transform: translateY(3px) translateX(2px);
    display: block;
    filter: contrast(130%);
}