.dash-box{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.Clock_Cluster{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .dash-box{
        flex-direction: column;
        width: 100%;
    }

    .Clock_Cluster{
        flex-direction: column;
    }

    
}