.Weather-Box{
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.weather-header{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

}

.weather-forecast{
    background-color: antiquewhite;
}

.weather-header .hourly{
    grid-column:span 2;
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-header .location{
    margin-left: 20px;
    margin-top: 20px;
    font-size: x-large;
    font-weight: bolder;
}

.weather-header .icon{
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    font-size: large;
}

.weather-header .temp{
    font-size: xx-large;
    margin-left: 20px;
    font-weight: bolder;
}

.weather-header .forecast{
    margin-right: 20px;
    text-align: center;
    font-size: large;
    font-weight: bolder;

}

.wind{
    display: flex;
    flex-direction: row;
}
.humidity, .sunrise, .sunset{
    display: flex;
    flex-direction: row;
}

.hourly-forecast{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 100%;
    padding: 10px;
  
}

.hour{
    padding: 10px;
    min-width: 80px;
    text-align: center;
}

.day-details{
    min-width: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.day-details >*{
    margin-bottom: 15px;
}

.weather-forecast{
    color: black;
}

.weather-date{
    font-size: small;

    color: gray;
    margin-left: 10px;
}

.weather-day{
    margin-left: 10px;
    margin-top: 0px;
    min-width: 100px;

}
.grid-item-day{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.weather-weekday{
    font-size: medium;
    margin-left: 10px;
}

.weather-fc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    margin-right: 10px;
    width: 100%;
}

.weather-fc, .weather-icon{
    text-align: center;
    font-size: medium;

}

.weather-fc .weather-temp-high{
    font-size: medium;

}

.weather-fc .weather-temp-low{
    font-size: medium;

    color: gray;
}

.weather-icon{

    margin-left: 0px;
}

.weather-daily-2{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    font-size: small;
}

.weather-daily-2{
    margin-left: 5px;
}

.SR_SS > *{
    font-size: small;
    min-width: 60px;
}

.daily-amcharts-icon {
    width: 70px; 
    height: 70px; 
}