
  
.navbar-expand-lg{
    padding: 0rem;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: "Lavishly Yours";
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

h2{
    font-size:medium;
    text-align: center;
}

.specialH2{
    font-family: "Lavishly Yours";
    font-weight: 200;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
}

.navbar-brand{
    font-family: "Lavishly Yours";
    font-weight: 300;
    font-size: xx-large;
}

.container-fluid{
    align-content: flex-start;
}
/* This is for Wedding to do */


.table, .table-hover{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.edit{
    border: none;
    background: none;
}

.add{
    border: none;
    background: none;
}
.icon{
    height: 25px;
}

