#r5_out_div{
    border: 1px solid silver;
    width: 90%;
    max-width: 800px;
    min-width: 800px;
    margin-top: 20px;
    justify-self: center;
    border-radius: 25px;
    overflow: hidden; /* Add overflow hidden to parent*/
    display: flex;
    flex-direction: column;
}

#r5_outside_div{
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 25px;
    overflow: hidden;
    background-color: inherit;
}

#row5_title{
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 100%;

}

#row5_title_label{
    color: black;
    margin-left: 15px;

}

#row5_title_divs{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid silver;
}

.row5_date, .row5_event, .row5_details{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 1px solid silver;
}

.row5_event{
    width: 200px;
}

.row5_details{
    width: 400px;
    border: none;
}
.row5_titles{
    color: silver;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.justleftitems{
    text-align: left;
    margin-left: 5px;
}

#rows_data_divs{
    display: flex;
    flex-direction: row;
}

#row5_inputs{
    display: flex;
    flex-direction: row;
}

.justleftitems2{
    margin: 0px;
    text-align: left;
    padding-left: 5px;
}

.row5_title2{
    color: black;
}

#r5_button_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#row5_editor{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: right;
}

#row5_saver{
    width: 12%;
    border-radius: 15px;
    background-color: rgb(0, 128, 0);
}

#row5_cancel{
    width: 12%;
    border-radius: 15px;
    background-color: rgb(31, 155, 207);
}

#row5_delete{
    width: 12%;
    border-radius: 15px;
    background-color: rgb(217, 83, 79);
}