.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color); /* Theme Background */
  padding: 1rem;
}

.content {
  width: 100%;
  max-width: 400px; /* Standard login box width */
}